//base color
$gray-base:              #000;
$gray-lv1:              #444444;
$gray-lv2:              #888888;
$gray-lv3:              #BBBBBB;
$gray-lv4:              #DDDDDD;
$gray-lv5:              #EEEEEE;


$primary-lv1:  #00BCD4;
$primary-lv2:    #6BD8E6;
$primary-lv3:    #D3F4F8;
$primary-lv4:    #EEFBFC;
$primary-lv5:    #F6FDFE;

$success-lv1:  #8BC34A;
$success-lv2:    #B0D684;
$success-lv3:    #E8F3DB;
$success-lv4:    #F6FAF1;
$success-lv5:    #fafdf8;

$theme-lv1:     #009688;
$theme-lv2:       #52B8AE;
$theme-lv3:       #CCEAE7;
$theme-lv4:       #EBF7F6;
$theme-lv5:       #F5FBFA;

$warning-lv1:  #FFB300;
$warning-lv2:    #FFCB52;
$warning-lv3:    #FFF0CC;
$warning-lv4:    #FFF9EB;
$warning-lv5:    #FFFCF5;

$danger-lv1:   #E84E40;
$danger-lv2:     #EF877D;
$danger-lv3:     #FADCD9;
$danger-lv4:     #FDF1F0;
$danger-lv5:     #FEF8F7;


$white-base: #fff;

$transparent: transparent;

$brand-primary:  #2196F3;
