$btn-border-width:             1px;
$btn-border-radius:            2px;

$btn-large-font-size:             16px;
$btn-large-line-height:           $btn-large-font-size+4;
$btn-large-border-line-height:    $btn-large-font-size+2;
$btn-large-min-width:             100px;
$btn-large-height:                36px;
$btn-large-padding-horizontal:   12px;
$btn-large-padding-vertical:     8px;
$btn-large-icon-size:            16px;
$btn-large-icon-padding-horizontal:   8px;


$btn-default-font-size:             14px;
$btn-default-line-height:           $btn-default-font-size+4;
$btn-default-border-line-height:    $btn-default-font-size+2;
$btn-default-min-width:             80px;
$btn-default-height:                32px;
$btn-default-padding-horizontal:    8px;
$btn-default-padding-vertical:      7px;
$btn-default-icon-size:             14px;
$btn-default-icon-padding-horizontal:  8px;


$btn-small-font-size:               12px;
$btn-small-line-height:             $btn-small-font-size+4;
$btn-small-border-line-height:      $btn-small-font-size+2;
$btn-small-min-width:               68px;
$btn-small-height:                  28px;
$btn-small-padding-horizontal:      8px;
$btn-small-padding-vertical:        6px;
$btn-small-icon-size:               12px;
$btn-small-icon-padding-horizontal:  4px;


$btn-default-border-color:             mix($gray-lv4,$white-base,68%);
$btn-default-hover-box-shadow-opacity: 0.28;
$btn-primary-hover-box-shadow-opacity: 0.70;
$btn-success-hover-box-shadow-opacity: 0.70;


$btn-radius-width:               28px;
$btn-radius-height:              28px;
$btn-radius-icon-size:           14px;


$btn-card-width:                 28px;
$btn-card-height:                28px;
$btn-card-icon-size:             14px;
  

$btn-disabled-border-color:               $btn-default-border-color;
$btn-disabled-line-height:                $btn-default-border-line-height;
$btn-disabled-hover-box-shadow-opacity:   $btn-default-hover-box-shadow-opacity;

//=================================================================================================

.bh2-btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  background-image: none; 
  border: 0;
  white-space: nowrap;
  outline: none !important;
  transition: all;
  transition-duration: 300ms;
  //默认大小
  @include make-btn-size($btn-default-padding-vertical, $btn-default-padding-horizontal, $btn-default-font-size, $btn-default-line-height, 
      $btn-border-radius, $btn-default-min-width, $btn-default-height, $btn-default-icon-size, $btn-default-icon-padding-horizontal);   
  
  //大号按钮
  &.bh2-large {
    @include make-btn-size($btn-large-padding-vertical, $btn-large-padding-horizontal, $btn-large-font-size, $btn-large-line-height, 
        $btn-border-radius, $btn-large-min-width, $btn-large-height, $btn-large-icon-size, $btn-large-icon-padding-horizontal);
  }
  //小号按钮
  &.bh2-small {
    @include make-btn-size($btn-small-padding-vertical, $btn-small-padding-horizontal, $btn-small-font-size, $btn-small-line-height, 
        $btn-border-radius, $btn-small-min-width, $btn-small-height, $btn-small-icon-size, $btn-small-icon-padding-horizontal);  
  } 

  //按钮类型
  &.bh2-default {
    border: $btn-border-width solid $btn-default-border-color;
    line-height: $btn-default-border-line-height;
    @include make-btn-status($gray-lv1, $white-base, $gray-base, $btn-default-hover-box-shadow-opacity);
    &.bh2-large {
      line-height: $btn-large-border-line-height;
    }
    &.bh2-small {
      line-height: $btn-small-border-line-height;
    }
  }

  &.bh2-primary {
    @include make-btn-status($white-base, $primary-lv1, $primary-lv1, $btn-primary-hover-box-shadow-opacity);
  }

  &.bh2-success {
    @include make-btn-status($white-base, $success-lv1, $success-lv1, $btn-success-hover-box-shadow-opacity);
  }

  //禁用按钮
  &.bh2-disabled{
    border: $btn-border-width solid $btn-disabled-border-color;
    line-height: $btn-disabled-line-height;
    @include make-btn-status($gray-lv1, $white-base, $gray-base, $btn-disabled-hover-box-shadow-opacity);
  }

  //圆形按钮
  &.bh2-btn-circle {
    border-radius: 50%;
    border: 1px solid transparent;
    @include reset-btn-size($btn-radius-width, $btn-radius-height, $btn-radius-icon-size); 
    &.bh2-default {
      border-color: $btn-default-border-color;
    }  
  }

  //卡片操作按钮
  &.bh2-btn-icon {
    @include reset-btn-size($btn-card-width, $btn-card-height, $btn-card-icon-size);  
    &:hover{
      background-color: $theme-lv4;
    }
    & > .iconfont {
      color: $gray-lv2;
    }

    &.bh2-disabled {
      background-color: $white-base;
      color: $gray-lv5;
      cursor: not-allowed;
      border: 0;
      & > .iconfont {
        color: $gray-lv5;
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
}

//按钮组
.bh2-btn-group {
  & > .bh2-btn {
    float: left;
    margin-left: 4px;
    &:nth-child(1) {
      margin-left: 0;
    }
  }
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}



