.bh-card-lv0{
  box-shadow: $box-shadow-lv0;
}

.bh-card-lv1{
  box-shadow: $box-shadow-lv1;
}

.bh-card-lv2{
  box-shadow: $box-shadow-lv2;
}

.bh-card-lv3{
  box-shadow: $box-shadow-lv3;
}

.bh-card-lv4{
  box-shadow: $box-shadow-lv4;
}