//
// Dropdown menus
// --------------------------------------------------
// The dropdown wrapper (div)
.bh2-dropdown {
    position: relative;
    .bh-btn {
        position: relative;
        min-width: 88px;
        padding-left: 8px;
        padding-right: 28px;
        text-align: left;
        margin-left: 0;
        &.bh-btn-large {
            // 按钮最小尺寸：100px
            min-width: 100px;
            padding-left: 12px;
        }
        &.bh-btn-small {
            min-width: 80px;
        }
        i.iconfont {
            padding: 0px;
        }
        &:after {
            border-top: 6px solid $gray-lv2;
        }
    }
    .bh2-dropdown-link {
        cursor: pointer;
        padding-right: 25px;
        &:hover {
            text-decoration: underline;
        }
        &:after {
            border-top: 6px solid $primary-lv1;
        }
    }
    .bh-btn,
    .bh2-dropdown-link {
        &:after {
            content: "";
            position: absolute;
            right: 8px;
            top: calc(50% - 3px);
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            // 箭头颜色：Grey_Lv2
        }
    }
}

// The dropdown menu (ul)
.bh2-dropdown-menu {
    position: absolute;
    z-index: 380;
    outline: 0;
    top: 100%;
    left: 0;
    min-width: 176px;
    padding: 4px 0;
    // 按钮与卡片间距：4px
    margin-top: 4px;
    list-style: none;
    // 文字尺寸：14px
    font-size: 14px;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: $white-base;
    border-radius: $common-border-radius;
    box-shadow: $card-lv2-box-shadow;
    background-clip: padding-box;
    // Dividers (basically an hr) within the dropdown
    .bh2-dropdown-divider {
        height: 1px;
        margin: 4px 0;
        overflow: hidden;
        background-color: $gray-lv5;
    }
    // Links within the dropdown menu
    > li > a {
        display: block;
        padding: 6px 16px;
        color: $gray-lv2;
        clear: both;
        white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
    display: none;
}

// Hover/Focus state
.bh2-dropdown-menu > .bh-active > a,
.bh2-dropdown-menu > li > a {
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $primary-lv4;
    }
}

.bh2-dropdown-menu > .bh-disabled > a {
    color: $gray-lv4;
    &:hover,
    &:focus {
        cursor: default;
        background-color: transparent;
    }
}

// Open state for the dropdown
.bh2-dropdown-open {
    &.bh2-dropdown-menu {
        display: block;
    }
}

.bh2-dropdown-primary {
    &.bh2-dropdown {
        & .bh-btn {
            &:after {
                border-top-color: $white-base;
            }
        }
    }
    .bh2-dropdown-menu {
        background-color: $brand-primary;
        & > li > a {
            color: $white-base;
        }
        & > .bh-active > a,
        & > li > a {
            &:hover,
            &:focus {
                background-color: $primary-lv2;
            }
        }
        & > .bh-disabled > a {
            opacity: 0.48;
            &,
            &:hover,
            &:focus {
                color: fade($white-base, 48%);
            }
        }
    }
}

.bh2-dropdown-right.bh2-dropdown {
    text-align: right;
    & .bh2-dropdown-menu {
        right: 0;
        left: inherit;
        transform-origin: right top;
    }
}
