.bh2-tag {
    color: $white-base;
    padding: 4px 12px;
    border-radius: 2px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    &.bh2-success {
        background-color: $success-lv2;
        &:hover {
            background-color: $success-lv1;
        }
    }
    &.bh2-info {
        background-color: $theme-lv2;
        &:hover {
            background-color: $theme-lv1;
        }
    }
    &.bh2-warning {
        background-color: $warning-lv2;
        &:hover {
            background-color: $warning-lv1;
        }
    }
    &.bh2-danger {
        background-color: $danger-lv2;
        &:hover {
            background-color: $danger-lv1;
        }
    }
    &.bh2-primay {
        background-color: $primary-lv2;
        &:hover {
            background-color: $primary-lv1;
        }
    }
    &.bh2-default{
        background-color:$white-base;
        &:hover {
            background-color: $primary-lv1;
        }
    }
}

.bh2-tag-round {
    border-radius: 20px;
}

.bh2-tag-action {
    border-radius: 20px;
    cursor: pointer;
    background-color: $primary-lv2;
    & > i {
        font-size: 14px;
        color: $primary-lv3;
    }
    &:hover {
        background-color: $success-lv1;
    }
}

.bh2-tag-add {
    color: $primary-lv2;
    padding: 14px 32px 6px 32px;
    border: 1px solid $primary-lv2;
    border-radius: 20px;
    cursor: pointer;
    & > .icon-add {
        font-weight: bolder;
        font-size: 24px;
    }
}
.bh2-tag-group{
    border:1px solid #ddd;
    color: $gray-lv1;
    background-color:$white-base;
    &.bh2-tag-active{
        color: $white-base;
        background-color:$primary-lv2;
    }
}


