$font-family: "Hiragino Sans GB", "Microsoft YaHei","Arial-normal", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 12px;
$line-height-base: 20px;


$container-min-width: 1132px;
$container-max-width: 1632px;
$container-pardding: 0 24px;
$container-margin: 0 auto 1px auto;


$animate-time: 0.45s;
$animate-time-fast: 0.25s;



$box-shadow-lv1:               0 1px 4px rgba(0,0,0,.28);
$box-shadow-lv2:               0 2px 8px rgba(0,0,0,.28);
$box-shadow-lv3:               0 4px 16px rgba(0,0,0,.24);
$box-shadow-lv4:               0 6px 24px rgba(0,0,0,.24);



$z-index-lv1: 100;
$z-index-lv2: 1000;
$z-index-lv3: 2000;
$z-index-lv4: 3000;
$z-index-lv5: 4000;
$z-index-lv6: 5000;
$z-index-lv7: 6000;
$z-index-lv8: 7000;
$z-index-lv9: 8000;
$z-index-lv10: 9000;
$z-index-lv11: 9999;