$gray-base: #000;
$gray-lv1: #333;
$gray-lv2: #666;
$gray-lv3: #bbb;
$gray-lv4: #ddd;
$gray-lv5: #eee;



$theme-lv1: #3E50B4;
$theme-lv2: #7C88CC;
$theme-lv3: #D8DCF0;
$theme-lv4: #F0F1F9;
$theme-lv5: #F7F8FC;



$primary-lv1: #2196F3;
$primary-lv2: #68B8F7;
$primary-lv3: #D3EAFD;
$primary-lv4: #EEF7FE;
$primary-lv5: #F6FBFF;



$success-lv1: #60BE29;
$success-lv2: #93D36E;
$success-lv3: #DFF2D4;
$success-lv4: #F3FAEE;
$success-lv5: #F9FCF7;



$warning-lv1: #FF9800;
$warning-lv2: #FFB952;
$warning-lv3: #FFEACC;
$warning-lv4: #FFF7EB;
$warning-lv5: #FFFBF5;


$danger-lv1: #E24034;
$danger-lv2: #EB7D75;
$danger-lv3: #F9D9D6;
$danger-lv4: #FDF0EF;
$danger-lv5: #FEF8F7;



$white-base: #fff;

$transparent: transparent;

$brand-primary:  #2196F3;
