//base color
$gray-base:              #000;
$gray-lv1:              #444444;
$gray-lv2:              #888888;
$gray-lv3:              #BBBBBB;
$gray-lv4:              #DDDDDD;
$gray-lv5:              #EEEEEE;


$primary-lv1:  #536DFE;
$primary-lv2:    #8396FE;
$primary-lv3:    #DDE2FF;
$primary-lv4:    #F1F4FF;
$primary-lv5:    #F8F9FF;

$success-lv1:  #8BC34A;
$success-lv2:    #ABD47C;
$success-lv3:    #E8F3DB;
$success-lv4:    #F6FAF1;
$success-lv5:    #FAFDF8;

$theme-lv1:     #990099;
$theme-lv2:       #B547B5;
$theme-lv3:       #EBCCEB;
$theme-lv4:       #F7EBF7;
$theme-lv5:       #FBF5FB;

$warning-lv1:  #FFA000;
$warning-lv2:    #FFBA47;
$warning-lv3:    #FFECCC;
$warning-lv4:    #FFF8EB;
$warning-lv5:    #FFFBF5;

$danger-lv1:   #FF5252;
$danger-lv2:     #FE8181;
$danger-lv3:     #FFDCDC;
$danger-lv4:     #FFF1F1;
$danger-lv5:     #FFF8F8;


$white-base: #fff;

$transparent: transparent;

