//base color
$gray-base:              #000;
$gray-lv1:              #333;
$gray-lv2:              #666;
$gray-lv3:              #bbb;
$gray-lv4:              #ddd;
$gray-lv5:              #eee;

$primary-lv1:  #7986CB;
$primary-lv2:    #9EA8D9;
$primary-lv3:    #E9ECF7;
$primary-lv4:    #F4F6FB;
$primary-lv5:    #FAFAFD;

$success-lv1:  #51B8AE;
$success-lv2:    #89CFC8;
$success-lv3:    #E3F4F2;
$success-lv4:    #F1F9F9;
$success-lv5:    #F8FCFC;

$theme-lv1:     #734184;
$theme-lv2:       #A07EAC;
$theme-lv3:       #E8E0EB;
$theme-lv4:       #F4F0F5;
$theme-lv5:       #FAF8FA;

$warning-lv1:  #FFC106;
$warning-lv2:    #FFD556;
$warning-lv3:    #FFF5D7;
$warning-lv4:    #FFFAEB;
$warning-lv5:    #FFFDF5;

$danger-lv1:   #EC407A;
$danger-lv2:     #F1759F;
$danger-lv3:     #FCE0EA;
$danger-lv4:     #FEF0F5;
$danger-lv5:     #FEF8FA;




$white-base: #fff;

$transparent: transparent;

$brand-primary:  #2196F3;
