$ContainerW: 48px;
$ContainerH: 24px;
$BodyW: 48px;
$BodyH: 24px;
$ButtonW: 20px;
$ButtonH: 20px;
$transitionTime: 0.2s;

$squareBorder: 2px;
/**
 * Theme
 */

.Theme_Lv3 {
    background-color: $theme-lv3;
}

.Theme_Lv4 {
    background-color: $theme-lv4;
}


/**
 * Caption
 */

.Caption_Default {
    color: $gray-lv3;
    font-size: 12px;
    line-height: 12px;
}

.Caption_Success {
    color: $success-lv2;
    font-size: 12px;
    line-height: 12px;
}


/**
 * Success
 */

.Success {
    background-color: $success-lv1;
}

.Success_Lv3 {
    background-color: $success-lv3;
}


/**
 * bhSwitch
 */

.bh-switch-container {
    display: inline-block;
    height: $ContainerH;
    line-height: $ContainerH;
    & > .bh-switch-body {
        width: $BodyW;
        height: $BodyH;
        border-radius: $ContainerH/2;
        display: block;
        float: left;
        position: relative;
        left: 0;
        top: 0;
        transition: background $transitionTime;
        & > .bh-switch-btn {
            position: absolute;
            top: ($ContainerH - $ButtonH)/2;
            width: $ButtonW;
            height: $ButtonH;
            background-color: $white-base;
            border-radius: $ButtonH/2;
            display: block;
            transition: left $transitionTime;
        }
        & > .bh-switch-btn-theme-lv3 {
            background-color: $theme-lv3;
        }
        & > .bh-switch-btn:hover {
            box-shadow: $box-shadow-lv3;
        }
        & >.bh-switch-btn-on {
            left: $ContainerW - $ButtonW - 2px;
        }
        & >.bh-switch-btn-off {
            width: $ButtonW;
            left: 2px;
        }
    }
    & >.bh-switch-label {
        float: left;
        display: block;
        height: $ContainerH;
        line-height: $ContainerH !important;
        margin-left: 4px;
    }

    /**
     * 方形
     */
    & > .bh-switch-body-square {
        border-radius: $squareBorder;
        & > .bh-switch-btn-square {
            border-radius: $squareBorder;
        }
    }
}
