//base color
$gray-base:              #000;
$gray-lv1:              #444444;
$gray-lv2:              #888888;
$gray-lv3:              #BBBBBB;
$gray-lv4:              #DDDDDD;
$gray-lv5:              #EEEEEE;

$primary-lv1:  #00BCD4;
$primary-lv2:    #52D2E2;
$primary-lv3:    #CCF2F6;
$primary-lv4:    #EBFAFC;
$primary-lv5:    #F5FCFD;

$success-lv1:  #42BD41;
$success-lv2:    #7FD27E;
$success-lv3:    #D9F2D9;
$success-lv4:    #F0FAF0;
$success-lv5:    #F8FCF8;

$theme-lv1:     #5677FC;
$theme-lv2:       #8CA3FD;
$theme-lv3:       #DDE4FE;
$theme-lv4:       #F2F4FF;
$theme-lv5:       #F8FAFF;

$warning-lv1:  #FF9800;
$warning-lv2:    #FFB952;
$warning-lv3:    #FFEACC;
$warning-lv4:    #FFF7EB;
$warning-lv5:    #FFFBF5;

$danger-lv1:   #FF5721;
$danger-lv2:     #FF8D68;
$danger-lv3:     #FFDDD3;
$danger-lv4:     #FFF2EE;
$danger-lv5:     #FFF8F6;


$white-base: #fff;

$transparent: transparent;

$brand-primary:  #2196F3;
